/* *{
    font-family: Georgia;
    background-color: wheat;
} */

h1{
    /* color: #f52936; */
    color: #000000;
}

h3{
    color: purple;
}

#Jee{
    font-size: 5px;
    color: darkblue;
}

/* descendant selector */
p a{
    color: purple;
    background-color: yellow;
}

nav ul li a,li{
    color: hotpink;
}
/* adjacent sibling combinator */
p+h3{
    text-decoration: underline;
}

.upvote+button{
    background-color: cornflowerblue;
    color: white;
}

/* child combinator */
div>input{
    background-color: cyan;
}

/* Attribute Selector */
/* 
input[type="text"]{
    color: red;
}

input[type="Password"]{
    color: green;
} */
/* 
input[type]{
   background-color: antiquewhite;
} */


/* teeno tareeke se same kaam he ho raha haii */

/* #myid{
    color: #b92b27;
} */

/* #myid p{
    color: #b92b27;
} */

div[id="myid"]{
    color: #b92b27;
}


#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
    color: aliceblue;
}

/* pseudo class : hover */


#login:active{
    background-color: crimson;
}
/* active is not working rn is vale case maiii*/
button:active{
    background-color: crimson;
    color: #000000;
}

button:hover{
    background-color: #000000;
    color: white;
}
h3:hover{
    text-decoration: none;
}

p:active{
    font-weight: bold;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color: lightcoral;
}

h1::first-letter{
    color: green;
}
p::first-line{
    color: rgb(0, 105, 128);
}
p::selection{
    background-color: lemonchiffon;
}
h3{
    background-color: yellow;
}
h3{
    background-color: crimson;
}